<div id="welcome">
  <div class="container">
    <!--<h1>Welcome!</h1>-->
    <img style="height: 400px;width: 100%;" class="" alt="Logo" src="/images/geolocalization.png"/>
    <hr/>
    <p>TECNOLOGY IN A SQUERE</p>
    <div class="buttons">
      <!--<a class="btn btn-info" href="/account/profile">Update my email</a>-->
      <button class="btn btn-outline-info ml-2" @click="clickOpenDashboardModalButton()">Open description</button>
    </div>
  </div>

  <modal class="example-modal" v-if="dashboardModalVisible" @close="closeDashboardModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">SMART SECURITY BRIEFCASE </h2>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">SMART SECURITY BRIEFCASE </h5>
      <p>Is a portable security system that stores your valuables and gives you a constant GPS tracking system, in addition to a web platform to manage your users and view their location at all times, we invite you to use SSB.</p>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Close</button>
     <!-- <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>-->
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
